body {
    background-color:#BAD7DF;
}

hr {
    background-color: #BAD7DF;
    border-style: none;
    border-top: 8px dotted #81C6E8;
    height: 2px;
    width: 5%;
}

h1 {
    color: #04009A ;
}

h3 {
    color: #04009A ;
}

h4 {
    color: #04009A ;
}

th {
    color: #04009A ;
}